<!DOCTYPE html>
<html>
<head>
  <title>Ficha Personalizada de controle</title>
  <!-- Adicione a biblioteca do QR Code -->
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <style>
    /* Estilos para a ficha do banco */
    .ficha-banco {
      width: 400px;
      border: 2px solid #000;
      padding: 20px;
      text-align: center;
      margin: 20px auto;
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      border-radius: 10px;
    }
    .codigo {
      font-size: 1.5em;
      font-weight: bold;
      padding: 10px;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 20px;
      display: inline-block;
    }
    #qrcode-container {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    #qrcode {
      /* Ajuste o tamanho do QR Code conforme necessário */
      width: 200px;
      height: 200px;
    }
    .label {
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="ficha-banco">
    <h2><%=data.registro.employee.cod  %> - <%= data.registro.employee.nome %></h2>
    <div id="qrcode-container">
      <div id="qrcode"></div>
    </div>
    <p class="label">Código de Acesso:</p>
    <p class="codigo"><%=data.designacao  %></p>
    <p>Escaneie o QR Code para acessar.</p>
  </div>
 
  <script>
    var cod = `<%=cod %>`
    var domain = `<%=domain%>`
    var qrCode = new QRCode(document.getElementById("qrcode"), {
      width: 200,
      height: 200
    });
    var textoParaQRCode = `${domain}/scannerQrCodeValidate/${cod}`;
    qrCode.makeCode(textoParaQRCode);

    window.print();
     // Quando a janela de impressão é fechada
     window.onafterprint = function() {
      // Redireciona para a rota após a impressão
      window.location = "/controlRegisterEmployee";
    };
  </script>
</body>
</html>
