<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.18.0/modules/tables/advance-tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Nov 2023 22:01:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================--><!--    Document Title--><!-- ===============================================-->
    <title>Bio | Access &amp; Minint</title>

    <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../../assets/js/config.js"></script>
    <script src="../../vendors/simplebar/simplebar.min.js"></script>

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link href="../../vendors/prism/prism-okaidia.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="../../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="../../assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="../../assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="../../assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="../../assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
  </head>

  <body>
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
          
          <%-include("partials/sidebar") %>
          <%-include("partials/navbar") %>
        <div class="content">
          <%-include("partials/complementNav") %>

          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top:not([data-double-top-nav');
            var navbarDoubleTop = document.querySelector('[data-double-top-nav]');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');

            if (localStorage.getItem('navbarPosition') === 'double-top') {
              document.documentElement.classList.toggle('double-top-nav-layout');
            }

            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'double-top') {
              navbarDoubleTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarDoubleTop.remove(navbarDoubleTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
         <div class="card mb-3">
          <div class="card-body">
            <div class="row flex-between-center">
              <div class="col-md">
                <h5 class="mb-2 mb-md-0">Usuários</h5>
              </div>
              <div class="col-auto"><button class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Novo Registro </button></div>
            </div>
          </div>
        </div>
         
          <div class="card mb-3">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <h5 class="mb-0" data-anchor="data-anchor">...</h5>
                </div>
                <div class="col-auto ms-auto">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-192e75b3-c1ce-4d4d-81da-2bbe4857a478" id="dom-192e75b3-c1ce-4d4d-81da-2bbe4857a478">
                  <div id="tableExample3" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
                    <div class="row justify-content-end g-0">
                      <div class="col-auto col-sm-5 mb-3">
                        <form>
                          <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
                            <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="table-responsive scrollbar">
                      <table class="table table-bordered table-striped fs--1 mb-0">
                        <thead class="bg-200">
                          <tr>
                            <th class="text-900 sort" data-sort="cod">UUId Cod</th>
                            <th class="text-900 sort" data-sort="name">Nome</th>
                            <th class="text-900 sort" data-sort="name">Sobrenome</th>
                            <th class="text-900 sort" data-sort="name">Perfil</th>
                            <th class="text-900 sort" data-sort="name">Acção</th>
                          
                          </tr>
                        </thead>
                        <tbody class="list">
                          <% users.forEach(element => { %>
                            <tr>
                              <td class="name"><%=element.Id  %></td>
                            <td class="name"><a href=""><%=element.nome  %></a> </td> 
                              <td class="email"><%=element.sobrenome  %></td>
                              <td class="email"><%=element.perfil.designacao  %></td>
                              <td class="email"> 
                                <div class="bg-300 mx-3 d-none d-lg-block d-xl-none" style="width:1px; height:29px"></div>
                              
                                <div class="d-flex align-items-center" id="table-ticket-replace-element">
                                 <div class="dropdown font-sans-serif ms-2"><button class="btn btn-falcon-default text-600 btn-sm dropdown-toggle dropdown-caret-none" type="button" id="preview-dropdown" data-bs-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h fs--2"></span></button>
                                    <div class="dropdown-menu dropdown-menu-end border py-2" aria-labelledby="preview-dropdown">
                                      <a class="dropdown-item" href="#">Editar</a>
                                      <a class="dropdown-item" href="#">Eliminar</a>
                                     
                                    </div>
                                  </div>
                                </div>
                              </div></td>
                             
                            </tr>
                          <% }) %>
                         
                        
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                      <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                    </div>
                  </div>
                </div>
              
                </div>
              </div>
            </div>
         
          <%-include("partials/footer")  %>
         
        </div>
       
      </div>
     
    </main>
    <div class="modal fade" id="staticBackdrop" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg mt-6" role="document">
        <div class="modal-content border-0">
          <div class="position-absolute top-0 end-0 mt-3 me-3 z-1"><button class="btn-close btn btn-sm btn-circle d-flex flex-center transition-base" data-bs-dismiss="modal" aria-label="Close"></button></div>
          <div class="modal-body p-0">
            <div class="rounded-top-3 bg-body-tertiary py-3 ps-4 pe-6">
              <h4 class="mb-1" id="staticBackdropLabel">Registrar novo Usuário</h4>
            </div>
            <div class="p-4">
              <div class="row">
                <div class="col-lg-12">
                 
                  <div class="d-flex"><span class="fa-stack ms-n1 me-3"><i class="fas fa-circle fa-stack-2x text-200"></i><i class="fa-inverse fa-stack-1x text-primary fas fa-align-left" data-fa-transform="shrink-2"></i></span>
                    <div class="flex-1">
                       <div class="row g-3">
                          <div class="col-lg-6"> <label class="form-label" for="first-name">Nome</label><input class="form-control" id="nome" type="text"   /></div>
                          <div class="col-lg-6"> <label class="form-label" for="last-name">Sobrenome</label><input class="form-control"  type="text"   id="sobrenome" /></div>
                          <div class="col-lg-6"> <label class="form-label" for="email1">User Name</label><input class="form-control" id="username" type="text"  /></div>
                          <div class="col-lg-6"> <label class="form-label" for="email2">Perfil</label>  <select class="form-control" name="perfil" id="perfil">
                           <% perfil.forEach(element => { %>
                            <option value="<%=element.Id %>"><%=element.designacao %></option>
                           <% }) %>
                           
                          </select></div>
                       
                        </div>
                   
                        <br>
                        <p id="result"></p>
                    </div>
                  </div>
                </div>

               
                <div class="modal-footer">
                  <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary" type="button" onclick="send()">Enviar </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ===============================================--><!--    JavaScripts--><!-- ===============================================-->
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/prism/prism.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="../../../../../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
    <script src="../../assets/js/theme.js"></script>
<%=domain%>
<script>
  function send(){
    var domain =`<%=domain%>`
  const nome = document.getElementById("nome").value;
  const sobrenome =document.getElementById("sobrenome").value;
  const username= document.getElementById("username").value;
  const perfil =document.getElementById("perfil").value;

  const data= {
    nome:nome,
    sobrenome:sobrenome,
    username:username,
    fk_perfil:perfil
  }

  fetch(`${domain}/user`, {
        method: 'POST',
        headers: {
        "Content-Type": "application/json", 
      },
      body: JSON.stringify(data),
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ocorreu um erro .');
        }
        return response.json();
    })
    .then(data => {
        if(!data.error){
          window.location ="/listUser"
        }else{
          document.getElementById('result').innerHTML = data.error;
        document.getElementById('result').setAttribute('class', 'text-danger')

     
        }
    })
    .catch(error => {
        // Lidar com erros 
        console.error('Erro:', error);
    });


  }



</script>
  </body>
</html>