<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr">

  
<!-- Mirrored from prium.github.io/falcon/v3.18.0/modules/tables/advance-tables.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 Nov 2023 22:01:44 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================--><!--    Document Title--><!-- ===============================================-->
    <title>Bio | Access &amp; Minint</title>

    <!-- ===============================================--><!--    Favicons--><!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="../../assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/img/favicons/favicon-16x16.png">
    <link rel="shortcut icon" type="image/x-icon" href="../../assets/img/favicons/favicon.ico">
    <link rel="manifest" href="../../assets/img/favicons/manifest.json">
    <meta name="msapplication-TileImage" content="../../assets/img/favicons/mstile-150x150.png">
    <meta name="theme-color" content="#ffffff">
    <script src="../../assets/js/config.js"></script>
    <script src="../../vendors/simplebar/simplebar.min.js"></script>

    <!-- ===============================================--><!--    Stylesheets--><!-- ===============================================-->
    <link href="../../vendors/prism/prism-okaidia.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <link href="../../vendors/simplebar/simplebar.min.css" rel="stylesheet">
    <link href="../../assets/css/theme-rtl.min.css" rel="stylesheet" id="style-rtl">
    <link href="../../assets/css/theme.min.css" rel="stylesheet" id="style-default">
    <link href="../../assets/css/user-rtl.min.css" rel="stylesheet" id="user-style-rtl">
    <link href="../../assets/css/user.min.css" rel="stylesheet" id="user-style-default">
    <script>
      var isRTL = JSON.parse(localStorage.getItem('isRTL'));
      if (isRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/exceljs/dist/exceljs.min.js"></script>
  </head>

  <body>
    <!-- ===============================================--><!--    Main Content--><!-- ===============================================-->
    <main class="main" id="top">
      <div class="container" data-layout="container">
        <script>
          var isFluid = JSON.parse(localStorage.getItem('isFluid'));
          if (isFluid) {
            var container = document.querySelector('[data-layout]');
            container.classList.remove('container');
            container.classList.add('container-fluid');
          }
        </script>
          
          <%-include("partials/sidebar") %>
          <%-include("partials/navbar") %>
        <div class="content">
          <%-include("partials/complementNav") %>

          <script>
            var navbarPosition = localStorage.getItem('navbarPosition');
            var navbarVertical = document.querySelector('.navbar-vertical');
            var navbarTopVertical = document.querySelector('.content .navbar-top');
            var navbarTop = document.querySelector('[data-layout] .navbar-top:not([data-double-top-nav');
            var navbarDoubleTop = document.querySelector('[data-double-top-nav]');
            var navbarTopCombo = document.querySelector('.content [data-navbar-top="combo"]');

            if (localStorage.getItem('navbarPosition') === 'double-top') {
              document.documentElement.classList.toggle('double-top-nav-layout');
            }

            if (navbarPosition === 'top') {
              navbarTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTopCombo.remove(navbarTopCombo);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'combo') {
              navbarVertical.removeAttribute('style');
              navbarTopCombo.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarTopVertical.remove(navbarTopVertical);
              navbarDoubleTop.remove(navbarDoubleTop);
            } else if (navbarPosition === 'double-top') {
              navbarDoubleTop.removeAttribute('style');
              navbarTopVertical.remove(navbarTopVertical);
              navbarVertical.remove(navbarVertical);
              navbarTop.remove(navbarTop);
              navbarTopCombo.remove(navbarTopCombo);
            } else {
              navbarVertical.removeAttribute('style');
              navbarTopVertical.removeAttribute('style');
              navbarTop.remove(navbarTop);
              navbarDoubleTop.remove(navbarDoubleTop);
              navbarTopCombo.remove(navbarTopCombo);
            }
          </script>
         <div class="card mb-3">
          <div class="card-body">
            <div class="row flex-between-center">
              <div class="col-md">
              
             <input type="text" class="form-control-sm" placeholder="Id Funcionário" name="" id="init"> 
                <select name="type" id="type" class="form-control-sm">
                    <option value="1">Pago</option>
                    <option value="0">Não Pago</option>
                    <option value="all">Todos</option>
                </select>
                
              </div>
              <div class="col-auto"><button class="btn btn-primary" role="button" id="btn-find" onclick="getDataFinancial()">Buscar </button>  </div>
              <br>
              <p id="result"></p>
            </div>
          </div>
        </div>
         
          <div class="card mb-3">
            <div class="card-header">
              <div class="row flex-between-end">
                <div class="col-auto align-self-center">
                  <div class="col-auto"><button class="btn btn-primary" hidden role="button" id="btn-export" onclick="exportarParaExcel()">Export </button>  </div>
                </div>
                <div class="col-auto ms-auto">
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div class="tab-content">
                <div class="tab-pane preview-tab-pane active" role="tabpanel" aria-labelledby="tab-dom-192e75b3-c1ce-4d4d-81da-2bbe4857a478" id="dom-192e75b3-c1ce-4d4d-81da-2bbe4857a478">
                  <div id="tableExample3" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
                    <div class="row justify-content-end g-0">
                      <div class="col-auto col-sm-5 mb-3">
                        <form>
                          <div class="input-group"><input class="form-control form-control-sm shadow-none search" type="search" placeholder="Search..." aria-label="search" />
                            <div class="input-group-text bg-transparent"><span class="fa fa-search fs--1 text-600"></span></div>
                          </div>
                        </form>
                      </div>
                    </div>
                    <div class="table-responsive scrollbar">
                      <table class="table table-bordered table-striped fs--1 mb-0" id="tabela">
                        <thead class="bg-200">
                          <tr>
                            <th class="text-900 sort" data-sort="cod">Código</th>
                            <th class="text-900 sort" data-sort="name">Nome</th>
                            <th class="text-900 sort" data-sort="name">Data</th>
                            <th class="text-900 sort" data-sort="name">Estado do Pagamento</th>
                            <th class="text-900 sort" data-sort="name">Acção</th>
                          
                          </tr>
                        </thead>
                        <tbody class="list" id="tabela-corpo">
                        
                         
                        
                        </tbody>
                      </table>
                    </div>
                    <div class="d-flex justify-content-center mt-3"><button class="btn btn-sm btn-falcon-default me-1" type="button" title="Previous" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                      <ul class="pagination mb-0"></ul><button class="btn btn-sm btn-falcon-default ms-1" type="button" title="Next" data-list-pagination="next"><span class="fas fa-chevron-right"> </span></button>
                    </div>
                  </div>
                </div>
              
                </div>
              </div>
            </div>
          </div>
        
          <%-include("partials/footer")  %>
        </div>
      
      </div>
      <input type="hidden" id="domainID" value="<%= domain%>" />
    </main> 
    
    
    
    <script>

function preencherTabela(dados) {
  const tabelaCorpo = document.getElementById('tabela-corpo');

  dados.forEach(item => {
    const row = document.createElement('tr');

    const codCell = document.createElement('td');
    codCell.textContent = item.employee.cod; // Supondo que o campo seja 'uuidCod'
    row.appendChild(codCell);

    const nomeCell = document.createElement('td');
    nomeCell.textContent = item.employee.nome; // Supondo que o campo seja 'nome'
    row.appendChild(nomeCell);

    const sobrenomeCell = document.createElement('td');
    sobrenomeCell.textContent = item.data; // Supondo que o campo seja 'sobrenome'
    row.appendChild(sobrenomeCell);

    const estadoCell = document.createElement('td');
   // estadoCell.textContent = item.estado; 
    if(item.estado===0){
      estadoCell.textContent = "Não Pago"; 
    }else{
      estadoCell.textContent = "Pago"; 
    }
    row.appendChild(estadoCell);
    if(item.estado===0){
      const idDoRegistro = item.Id; // Supondo que 'id' seja a propriedade que contém o ID do registro
       row.setAttribute('data-id', idDoRegistro); // Definir o ID do registro como um atributo personalizado na linha

      const accao = document.createElement('td');
    const botao = document.createElement('button');
    // Aplicando estilos ao botão
botao.style.backgroundColor = 'red'; // Cor de fundo vermelha
botao.style.color = 'white'; // Cor do texto branca
botao.style.padding = '8px 16px'; // Padding interno do botão
botao.style.border = 'none'; // Sem borda
     botao.textContent = 'Liquidar';
     accao.appendChild(botao);
     botao.addEventListener('click', function() {
      const confirmacao = confirm('Tem certeza que deseja Liquidar?');

if (confirmacao) {
    // Encontrar a linha atual e removê-la
    const tableRow = this.parentNode.parentNode;
    const idDaLinha = tableRow.getAttribute('data-id');
     console.log(idDaLinha)
     fetch(`${domain}/updatehistoryFinancialEm/${idDaLinha}`, {
        method: 'GET'
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Ocorreu um erro.');
        }
        return response.json();
    })
    .then(data => {
        console.log('Resposta do servidor:', data);
           tableRow.parentNode.removeChild(tableRow);
    })
    .catch(error => {
        // Lidar com erros
        console.error('Erro:', error);
    });
   } else {
    // Se o usuário cancelar, não faz nada
    console.log('Ação de eliminar cancelada.');
}
});
row.appendChild(accao);
    }else{
      estadoCell.textContent = "Pago"; 
    }
   

    tabelaCorpo.appendChild(row);
  });
}
      const domain = document.getElementById("domainID").value;
      function getDataFinancial(){
        const tabelaCorpo = document.getElementById('tabela-corpo');
        tabelaCorpo.innerHTML = '';
      const employee =document.getElementById("init").value
      const type =document.getElementById("type").value
      var btnExport = document.getElementById('btn-export');
      var btnfind = document.getElementById('btn-find');

      if(employee===""){
        document.getElementById('result').innerHTML = "Data de Inicio não pode estar  vazio";
        document.getElementById('result').setAttribute('class', 'text-danger')

        }else{
        document.getElementById('result').innerHTML = "";
 
                    const data ={
                      employee: parseInt(employee),
                      status: type
                  }
                const options = {
                  method: 'POST',
                  headers: {
                    "Content-Type": "application/json", 
                  },
                  body: JSON.stringify(data),
                };
                fetch(`${domain}/historyFinancialEm`, options)
                  .then((response) => response.json())
                  .then((data) => {
                    if (!data.error) {
                       console.log(data.data)
                       preencherTabela(data.data)
                       if(data.length==0){
                        btnExport.setAttribute('hidden', true);
                       // btnfind.removeAttribute('hidden');
                       }else{
                      //  btnfind.setAttribute('hidden', true);
                        btnExport.removeAttribute('hidden');
                       }
                       //prencher a tabela !
                      
      
                    } else {
                      document.getElementById('result').innerHTML = data.error;
                      document.getElementById('result').setAttribute('class', 'text-danger')
                     
                    }
                  }).catch((error) => {
                      document.getElementById('result').innerHTML = "Server error: " + error;
                      document.getElementById('result').setAttribute('class', 'text-danger')
                    console.log(error)
                  });
      }
  
      
      }
      function exportarParaExcel() {
  const workbook = new ExcelJS.Workbook();
  const worksheet = workbook.addWorksheet('Acessos ao Refetório');

  // Estilo para o cabeçalho
  worksheet.addRow(['Acessos ao Refetório']).eachCell((cell) => {
    cell.font = { bold: true, color: { argb: 'FFFFFF' }, size: 18 };
    cell.alignment = { horizontal: 'center', vertical: 'middle' };
    cell.fill = {
      type: 'pattern',
      pattern: 'solid',
      fgColor: { argb: 'FF4CAF50' } // Cor de fundo verde
    };
  });

  // Estilo para as células de dados
  worksheet.getRow(1).eachCell((cell) => {
    cell.border = {
      top: { style: 'thin' },
      left: { style: 'thin' },
      bottom: { style: 'thin' },
      right: { style: 'thin' }
    };
  });

  // Adiciona dados da tabela ao arquivo Excel
  const tabela = document.getElementById('tabela');
  const tableRows = tabela.querySelectorAll('tr');
  tableRows.forEach((row) => {
    const rowData = [];
    row.querySelectorAll('th, td').forEach((cell) => {
      rowData.push(cell.textContent);
    });
    worksheet.addRow(rowData);
  });

  // Aplica alguns estilos adicionais
  worksheet.getRow(1).font = { bold: true };
  worksheet.getColumn('A').width = 20;

  // Gera o arquivo Excel
  workbook.xlsx.writeBuffer().then((data) => {
    const blob = new Blob([data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
    const url = window.URL.createObjectURL(blob);
    const a = document.createElement('a');
    a.href = url;
    a.download = 'Relatorio.xlsx';
    document.body.appendChild(a);
    a.click();
    document.body.removeChild(a);
    window.URL.revokeObjectURL(url);
  });
}

    </script>
    
    <script src="../../vendors/popper/popper.min.js"></script>
    <script src="../../vendors/bootstrap/bootstrap.min.js"></script>
    <script src="../../vendors/anchorjs/anchor.min.js"></script>
    <script src="../../vendors/is/is.min.js"></script>
    <script src="../../vendors/prism/prism.js"></script>
    <script src="../../vendors/fontawesome/all.min.js"></script>
    <script src="../../vendors/lodash/lodash.min.js"></script>
    <script src="../../../../../polyfill.io/v3/polyfill.min58be.js?features=window.scroll"></script>
    <script src="../../vendors/list.js/list.min.js"></script>
   <script src="../../assets/js/theme.js"></script>



  </body>


</html>